<ion-content class="login-content">
  <div class="login-container">
    <div class="app-logo">
  <div class="baby-circle">
    <img src="assets/icon/icon.png" alt="Carlitos" />
  </div>
</div>

    <h1>Carlitos</h1>

    <ion-text color="medium">
      <p>Registra y comparte las actividades de tu bebé con tu familia.</p>
    </ion-text>

    <ion-button expand="block" class="google-button" (click)="loginConGoogle()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Entrar con Google
    </ion-button>
  </div>
</ion-content>