<ion-app [class.app-shell-visible]="mostrarHeaderApp">
  <ion-header *ngIf="mostrarHeaderApp" class="app-shell-header">
    <ion-toolbar>
      <ion-title>Carlitos</ion-title>

      <ion-buttons slot="end">
        <ion-button
          class="app-add-activity-button"
          (click)="abrirModalAgregarActividad()"
          aria-label="Agregar actividad">
          <ion-icon name="add-circle" slot="start"></ion-icon>
          Actividad
        </ion-button>
        <app-usuario-menu></app-usuario-menu>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet [class.with-app-shell]="mostrarHeaderApp"></ion-router-outlet>
</ion-app>
